@import 'variables';
@import "~bootstrap/scss/bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.hot-toast {
  z-index: 13000 !important;
}

.background- {
  &light-hover {
    &:hover, &.active {
      background-color: lighten($white, 5%);
    }
    
    &:active {
      background-color: lighten($white, 3.5%);
    }
  }
  &dark-hover {
    &:hover, &.active {
      background-color: darken($white, 5%);
    }
    
    &:active {
      background-color: darken($white, 3.5%);
    }
  }
}

.underline-hover {
  --width: 85%;
  span {
    position: relative;
    overflow: hidden;
    
    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      right: 50%;
      width: 0;
      height: 2px;
      background-color: $dark;
      transition: all 250ms;
    }
  }
  
  &.active {
    --width: 100%;
  }
  
  &:hover, &.active {
    span:before{
      width: var(--width);
      left: calc((100% - var(--width)) / 2);
    }
  }
}